:root {
    --nav-bg-color: #111032;
}

a {
    text-decoration: none;
}
nav {
    background-color: var(--nav-bg-color);
    padding: .5em 2em .5em 1em;
}

nav a {
    color: white;
}
nav>ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
}
nav>ul .logo {
    display: flex;
}
nav>ul img {
    height: 50px;
    width: auto;
    align-self: center;
    margin-right: .5em;
}
nav li {
    align-content: center;
    margin-bottom: 1em;
}

h1 {
    font-size: 24px;
    letter-spacing: 1px;
    padding: 10px;
}

@media (min-width: 700px) {
    nav>ul {
        flex-direction: row;
        gap: 1em;
    }
    nav>ul .first {
        flex-grow: 1;
    }
    nav li {
        margin: .5em;
    }
}
