@layer reset, navbar, welcome, main;

@import url(reset.css) layer(reset);
@import url(navbar.css) layer(navbar);
@import url(welcome.css) layer(welcome);

@layer main {
    :root {
        --sale-text-color: #e3342f;
        --sale-bg-color: #f20d5d;
        --new-bg-color: #3c00d4;
    }

    .eshop {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        column-gap: 2rem;
        row-gap: 2px;
        max-width: 960px;
        margin: 2em auto 0 auto;
        padding: 0 2em;
    }
    .card {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 3;
        gap: .5em;
        color: black;
    }
    .card:hover {
        transform: scale(1.02);
    }
    .card__head {
        position: relative;
        grid-row: 1;
    }
    .card__img {
        width: 100%;
        height: auto;
        object-fit: contain;
        overflow: hidden;
    }
    .card__main {
        grid-row: 2;
    }
    .card__cost {
        display: flex;
        grid-row: 3;
        gap: .5em;
        font-weight: 400;
    }
    .card__cost--sale {
        text-decoration: line-through;
    }
    .card__cost--real {
        font-weight: 700;
        color: var(--sale-text-color);
    }
    .tag__new {
        position: absolute;
        right: -1rem;
        top: -1rem;
    }
    .tag__sale {
        position: absolute;
        bottom: 1rem;
    }
    .tag {
        color: white;
        font-weight: 500;
    }
    .tag--new {
        background-color: var(--new-bg-color);
        padding: 1em .5em;
        border-radius: 50em;
        max-width: fit-content;
    }
    .tag--sale {
        background-color: var(--sale-bg-color);
        padding: .5em 1em;
    }
}