@layer reset, navbar, welcome, main;

@import url(reset.css) layer(reset);
@import url(navbar.css) layer(navbar);
@import url(welcome.css) layer(welcome);

@layer main {
    :root {
        --sale-text-color: #e3342f;
        --sale-bg-color: #f20d5d;
        --new-bg-color: #3c00d4;
    }

    .eshop {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(3, auto);
        gap: 2rem;
        max-width: 960px;
        margin: 2em auto 0 auto;
    }
    .card {
        display: grid;
        /* grid-template-rows: subgrid; */
        color: black;
        width: 100%;
    }
    .card:hover {
        transform: scale(1.02);
    }
    .card--head {
        grid-row: 1;
    }
    .card__img {
        width: 100%;
        height: auto;
        object-fit: contain;
        overflow: hidden;
    }
    .card--main {
        grid-row: 2;
    }
    .card--cost {
        display: flex;
        grid-row: 3;
        gap: .5em;
        font-weight: 400;
    }
    .card--cost--sale {
        text-decoration: line-through;
    }
    .card--cost--real {
        font-weight: 700;
        color: var(--sale-text-color);
    }
    .card--head {
        position: relative;
    }
    .tag {
        position: absolute;
        color: white;
        font-weight: 500;
    }
    .tag--new {
        background-color: var(--new-bg-color);
        padding: 1em .5em;
        border-radius: 50em;
        right: -16px;
        top: -16px;
    }
    .tag--sale {
        background-color: var(--sale-bg-color);
        padding: .5em 1em;
        bottom: 20px;
    }
}