:root {
    --wl-bg-color: #228b98;
}

.welcome {
    display: flex;
    justify-content: center;
    background-color: var(--wl-bg-color);
}
.welcome--text {
    text-align: center;
    color: white;
}
.welcome--text h2 {
    font-size: 26px;
    padding-top: 1rem;
}
.welcome--text p {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
    font-size: 20px;
    font-weight: 100;
}

@media (min-width: 828px) {
    .welcome--text p {
        padding-left: 16rem;
        padding-right: 16rem;
    }
}